{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://as1.ftcdn.net/v2/jpg/02/35/65/38/1000_F_235653858_DBoakBGYiXxwWFANP1Ju5LzeKuWzdJQh.jpg" type="image/x-icon">
<meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists of YouTube with a Spotify styled UI" />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services, spotify, youtube" />
  {% block css %}
  <link rel="stylesheet" href="{% static 'formStyle.css' %}">
  {% endblock %}
	<title>Music player</title>
</head>

<body>
  
        <div class="signup_body"  style="background:black;">
            <form class="login_form" method='POST' enctype="multipart/form-data"  style="background:black;">
                {% csrf_token %}
                <label for="login-username" class="label" style="font-style:italic; color:green;">
                    Email address or username
                </label>

                <input type="text" class="form_input" pattern="[A-Za-z0-9.@_-e]+" name="username" style="border:2px solid black;" required>
                <label for="login-username" class="label" style="font-style:italic; color:green;">
                    Password
                </label>
                <input type="password" class="form_input" name="password" style="border:2px solid black;" required>
                {% if not case %}
                <span style="color:#f79862;
                             padding-bottom:20px;
                             text-align:center;">Username or password invalid</span>
                {% endif %}
                <button class='btn btn_log_in' type="submit"  style="background:black; color:white; font-style:italic;">Log in</button>
                <p class='label center-align'style="font-style:italic; color:green">Don't have an account?</p>
            <a class='btn btn_sign_up' href="/signup" style="background:black; color:white; font-style:italic;">Sign Up for Musicfy</a>
            </form>
        </div>

        <!-- <div class="signin_body">

        </div> -->

    </body>
</body>

</html>