{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://as1.ftcdn.net/v2/jpg/02/35/65/38/1000_F_235653858_DBoakBGYiXxwWFANP1Ju5LzeKuWzdJQh.jpg" type="image/x-icon">
<meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists of YouTube with a Spotify styled UI" />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services, spotify, youtube" />
        <link rel="stylesheet" type="text/css" href="{% static 'formStyle.css' %}">
    <title>Musicfy</title>
</head>
<script>
    function checkPassword(form) {
        const confirm_password = document.getElementById("cpwd");
        var password = document.getElementById("pwd").value;
        console.log(password)
        if (password != confirm_password.value) {
            confirm_password.setCustomValidity("Password did not match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }
</script>

<body>
   
    <div class="signup_body" style="background:black;">
        <form class="login_form" method='POST' enctype="multipart/form-data" style="background:black;">
            {% csrf_token %}

            <span class='label signup-title center-align' style="font-style:italic; color:green;">Sign up for free to start listening</span>
            <label for="sign-up-username" class="label" style="font-style:italic; color:blue;">
                What's your name?{% if not username %}
                <span style="color:#f79862;">Username already exists</span>
            {% endif %}
            </label>

            <input type="text" class="form_input" name="username" pattern="[A-Za-z]+" style="border:2px solid black;" required>


            <label for="sign-up-email" class="label" style="font-style:italic; color:blue;">
                What's your email?{% if not email %}
                <span style="color:#f79862;">Email already exists</span>
            {% endif %}
            </label>

            <input type="email" class="form_input" name="email" style="border:2px solid black;" required>


            <label for="sign-up-pwd" class="label" style="font-style:italic; color:blue;">
                Create a password
            </label>
            <input type="password" class="form_input" id="pwd" name="password" style="border:2px solid black;" required>

            <label for="sign-up-cpwd" class="label" style="font-style:italic; color:blue;">
                Confirm your password
            </label>
            <input type="password" class="form_input" id="cpwd" name="confirm-password" oninput="checkPassword(this)" style="border:2px solid black;" required>

            <button class='btn btn_log_in' type="submit" style="background:black; color:white; font-style:italic;">Sign up</button>
            <p class='label center-align' style="font-style:italic; color:green">Already have an account? <a href="/login">Log in</a></p>
        </form>
    </div>

</body>

</html>
